body{
    /*background-image: url("../img/homePage.jpg");*/
    background-color: #ccc;
}
#logo{
    width: 50px;
}
#navbar {
     background-color: white !important;
 }
.navbar{
    border: none;
}
#navbar-collapse{
    margin-top: 10px;
}
.change{
    font-size: 20px;
    /*color: deeppink;*/
}
